@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

.blogContainer {
  color: white;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.blogContainer .blog {
  width: 25%;
  background-color: #232222fe;
  border: 1px solid white;
  margin: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  opacity: 1;
  transition: 0.7s;
  animation: appear 1s 1;
}

.blog:hover {
  transform: scale(1.02);
}

.blog .coverImge img {
  height: 200px;
  width: 100%;
}

.blog .title {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.blog .details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.blog .details .publish {
  margin-right: 1rem;
  padding: 0.3rem;
}

.blog .details .tags {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags .tag0 {
  background-color: blue;
  margin-right: 1rem;
  padding: 0.3rem;
  margin-top: 1rem;
}

.tags .tag1 {
  background-color: red;
  margin-right: 1rem;
  padding: 0.3rem;
  margin-top: 1rem;
}

.tags .tag2 {
  background-color: green;
  margin-right: 1rem;
  padding: 0.3rem;
  margin-top: 1rem;
}

.tags .tag3 {
  background-color: #ff6e00db;
  margin-right: 1rem;
  padding: 0.3rem;
  margin-top: 1rem;
}

.blog .desc {
  margin-top: 1rem;
}

.blog .url {
  margin-top: 1rem;
}

.url a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #f9ab25;
  cursor: pointer;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
}

.main_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

/* // contact */

.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
}

.contactMe .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.icons .linkedIN,
.icons .insta,
.icons .twitter,
.icons .github {
  padding: 2rem;
}

.linkedIN a,
.insta a,
.twitter a,
.github a {
  text-decoration: none;
  color: white;
}

.linkedIN a :hover {
  transform: scale(1.15);
}

.twitter a :hover {
  transform: scale(1.15);
}

.insta a :hover {
  transform: scale(1.15);
}

.github a :hover {
  transform: scale(1.15);
}

.contactMe p {
  font-size: 2rem;
}

.contactMe .mail {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  background-color: #232222fe;
  padding: 1rem;
  border-radius: 10px;
}

.mail .email {
  padding: 1rem;
}

.mail .email i {
  color: white;
}

.mail .emailID {
  padding: 1rem;
  margin-top: 0.7rem;
  font-size: 1.3rem;
}

.emailID a {
  color: white;
  cursor: pointer;
}


.projectCard{
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #3c3b3bfe;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.projectCard  .projectImg{
  display: flex;
  width: 100%;
}

.projectCard .projectImg img{
  height: 200px;
  width: 100%;
}

.projectCard .projectDetails{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  color: white;
}

.projectDetails .text .title{
  font-size: 1.5rem;
  text-align: center;
}

.text .info{
  margin-top: 1rem;
  text-align: center;
}

.text .links {
  display: flex;
  flex-direction: row;
  padding: 0.7rem;
  justify-content: center;
}

.links .try, 
.links .repo{
  margin: 0.3rem 0.7rem 0 0.7rem;
  background-color: #111111;
  padding: 0.7rem;
  border-radius: 10px;
}

.try a,
.repo a{
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 301px) and (max-width: 390px) {
  .blogContainer .blog {
    width: 100%;
  }

  .main_div {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main_div #first{
    margin-top: 110rem;
  }

  .projectCard{
    width: 90%;
  }
}

@media screen and (min-width: 400px) and (max-width: 420px) {
  .blogContainer .blog {
    width: 100%;
  }

  .main_div {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main_div #first{
    margin-top: 90rem;
  }

  .projectCard{
    width: 90%;
  }
}

@media screen and (min-width: 700px) and (max-width: 950px) {
  .blogContainer .blog {
    width: 40%;
  }
}

@media screen and (max-width: 300px) {

  .icons .linkedIN,
  .icons .insta,
  .icons .twitter,
  .icons .github {
    padding: 0.7rem;
  }

  .contactMe .mail{
    padding: 0.3rem;
  }

  .contactMe .email{
    padding: 0;
    margin-top: 1rem;
  } 

  .contactMe .emailID{
    font-size: 0.9rem;
  }

  .main_div {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main_div #first{
    margin-top: 110rem;
  }

  .projectCard{
    width: 90%;
  }

}

@media screen and (min-width: 421px) and (max-width: 500px) {
  .blogContainer .blog {
    width: 100%;
  }

  .main_div {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main_div #first{
    margin-top: 110rem;
  }

  .projectCard{
    width: 90%;
  }
}
